.new-release-album-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  border: 0px;
  padding: 10px 0px 10px 0px;
}

.new-release-album-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.new-release-album-list {
  padding: 0px;
  margin: 5px 0px 70px 0px;
}
