.search-list-item {
  list-style-type: none;
  background-color: #accbff;
  height: 180px;
  width: 150px;
  border-radius: 4px;
  margin: 2px 8px 2px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-item-image {
  height: 120px;
  width: 110px;
  border-radius: 4px;
  margin: 3px;
}

.search-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-item-name {
  color: #192132;
  font-size: 13px;
  font-weight: 500;
  width: 140px;
  text-align: center;
  margin: 2px 0px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.search-tracks {
  color: #2f313b;
  font-size: 13px;
  font-weight: 400;
  width: 140px;
  text-align: center;
  margin: 2px 0px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .search-list-item {
    height: 260px;
    width: 200px;
  }

  .search-item-image {
    height: 160px;
    width: 145px;
  }

  .search-item-info {
  }

  .search-item-name {
    font-size: 15px;
    width: 180px;
  }

  .search-tracks {
    font-size: 14px;
    width: 180px;
  }
}
