.profile-container {
  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
  left: 0px;
  right: 0px;
  background-color: #181818;
}

.user-icon {
  height: 100px;
  width: 100px;
  margin: 10px 5px 10px 5px;
}

.user-name {
  color: #dddddd;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 5px 10px 5px;
}

.followers-playlists-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.followers-playlists-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.followers-playlists-info {
  color: #1db954;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.followers-playlists-info-text {
  color: #dddddd;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.logout-button {
  color: #dddddd;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 22px;
  padding: 7px 15px 8px 15px;
  width: 80px;
  height: 30px;
  margin: 10px 5px 10px 5px;
  box-shadow: 7px 6px 25px 1px rgba(0, 0, 0, 0.24);
  transition: 0.16s all;
}

.logout-button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 20px 7px rgba(0, 0, 0, 0.75);
}

@media (min-width: 476px) {
  .user-icon {
    height: 120px;
    width: 120px;
  }

  .user-name {
    font-size: 26px;
  }

  .followers-playlists-info {
    font-size: 16px;
  }

  .followers-playlists-info-text {
    font-size: 16px;
  }

  .logout-button {
    font-size: 15px;
    padding: 7px 18px 7px 18px;
    width: 100px;
    height: 35px;
  }
}

@media (min-width: 768px) {
  .profile-container {
    height: 100vh;
    width: calc(100% - 65px);
    position: absolute;
    left: 65px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  .user-icon {
    height: 150px;
    width: 150px;
  }

  .user-name {
    font-size: 28px;
  }

  .followers-playlists-info {
    font-size: 18px;
  }

  .followers-playlists-info-text {
    font-size: 18px;
  }

  .logout-button {
    font-size: 15px;
    padding: 8px 20px 8px 20px;
    width: 110px;
    height: 40px;
  }
}
